@using PagedList;
@using PagedList.Mvc;

@model IPagedList<MyAccounting.Models.AccountingViewModels>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>@MyType.TransColors(item.Type)</td>
                        <td>@item.date.ToString("yyyy-MM-dd")</td>
                        <td>@item.price.ToString("#,###")</td>
                        <td style="word-break: break-all;width:500px">@item.Note</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index",new { page}))
</div>

